[Unit]
Description=System analyzer utility by SigmaStudio

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/usr/bin
ExecStart=systemanalyzer

[Install]
WantedBy=multi-user.target